@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        width : 95vw;
        font-family: Public Sans, "sans-serif";
        background-color: white;
    }
}

.color-h1{
    color: #2f2b3d;
    font-weight: 500;
    font-size: 15px;
}

.color-f{
    color: #9997a3;
    font-weight: 500;
    font-size: 20px;
}

.color-p{
    color: #9997a3;
    font-weight: 400;
    font-size: 13px;
}

.loader{
    display: flex;
    align-items: center;
    color: white;
    gap: 1vw;
    font-weight: 600;
    font-size: 1.5vw;
    margin-left: 47vw;
    margin-top: 40vh;
}